In [ ]:
# Pascal's triangle https://en.wikipedia.org/wiki/Pascal%27s_triangle

# challenge from https://www.hackinscience.org/exercises/pascals-triangle

In [27]:
import itertools # or: from itertools import pairwise

def print_pascal_triangle(height):
    
    def final_print(arr):
        """ function for final print """

        # first find the width of the final row
        s = ''
        for b in arr[-1]:
            s += str(b)+'   '
        width = len(s[:-3])                     

        # now print the tree / triangle
        for i in arr:
            # print(*i)        
            s = ''
            for b in i:
                s += str(b)+'   '
            s = s[:-3]
            print(s.center(width))         


    if height == 0:
        arr = [[]]
    elif height == 1:
        arr = [[1]]
    elif height == 2:
        arr = [[1],[1,1]]
    else:
        arr = [[1],[1,1]]
        for i in range(2,height): # if height >= 3
            row = []
            for b in itertools.pairwise(arr[i-1]):
                row.append(sum(b))

            row.insert(0,1)
            row.append(1)

            arr.append(row)
            
    final_print(arr)

In [28]:
print_pascal_triangle(1)

1

In [29]:
print_pascal_triangle(2)

  1
1   1

In [30]:
print_pascal_triangle(3)

    1
  1   1
1   2   1

In [31]:
print_pascal_triangle(4)

      1
    1   1
  1   2   1
1   3   3   1

In [32]:
print_pascal_triangle(5)

        1
      1   1
    1   2   1
  1   3   3   1
1   4   6   4   1

In [33]:
print_pascal_triangle(6)

           1
         1   1
       1   2   1
     1   3   3   1
   1   4   6   4   1
1   5   10   10   5   1

In [34]:
print_pascal_triangle(7)

             1
           1   1
         1   2   1
       1   3   3   1
     1   4   6   4   1
  1   5   10   10   5   1
1   6   15   20   15   6   1

In [35]:
print_pascal_triangle(8)

                1
              1   1
            1   2   1
          1   3   3   1
        1   4   6   4   1
     1   5   10   10   5   1
   1   6   15   20   15   6   1
1   7   21   35   35   21   7   1

In [36]:
print_pascal_triangle(9)

                  1
                1   1
              1   2   1
            1   3   3   1
          1   4   6   4   1
       1   5   10   10   5   1
     1   6   15   20   15   6   1
  1   7   21   35   35   21   7   1
1   8   28   56   70   56   28   8   1

In [37]:
print_pascal_triangle(10)

                      1
                    1   1
                  1   2   1
                1   3   3   1
              1   4   6   4   1
           1   5   10   10   5   1
         1   6   15   20   15   6   1
      1   7   21   35   35   21   7   1
    1   8   28   56   70   56   28   8   1
1   9   36   84   126   126   84   36   9   1

In [38]:
print_pascal_triangle(11)

                           1
                         1   1
                       1   2   1
                     1   3   3   1
                   1   4   6   4   1
                1   5   10   10   5   1
              1   6   15   20   15   6   1
           1   7   21   35   35   21   7   1
         1   8   28   56   70   56   28   8   1
     1   9   36   84   126   126   84   36   9   1
1   10   45   120   210   252   210   120   45   10   1

In [39]:
print_pascal_triangle(12)

                              1
                            1   1
                          1   2   1
                        1   3   3   1
                      1   4   6   4   1
                   1   5   10   10   5   1
                 1   6   15   20   15   6   1
              1   7   21   35   35   21   7   1
            1   8   28   56   70   56   28   8   1
        1   9   36   84   126   126   84   36   9   1
   1   10   45   120   210   252   210   120   45   10   1
1   11   55   165   330   462   462   330   165   55   11   1

In [40]:
print_pascal_triangle(13)

                                 1
                               1   1
                             1   2   1
                           1   3   3   1
                         1   4   6   4   1
                      1   5   10   10   5   1
                    1   6   15   20   15   6   1
                 1   7   21   35   35   21   7   1
               1   8   28   56   70   56   28   8   1
           1   9   36   84   126   126   84   36   9   1
      1   10   45   120   210   252   210   120   45   10   1
   1   11   55   165   330   462   462   330   165   55   11   1
1   12   66   220   495   792   924   792   495   220   66   12   1

In [41]:
print_pascal_triangle(14)

                                      1
                                    1   1
                                  1   2   1
                                1   3   3   1
                              1   4   6   4   1
                           1   5   10   10   5   1
                         1   6   15   20   15   6   1
                      1   7   21   35   35   21   7   1
                    1   8   28   56   70   56   28   8   1
                1   9   36   84   126   126   84   36   9   1
           1   10   45   120   210   252   210   120   45   10   1
        1   11   55   165   330   462   462   330   165   55   11   1
     1   12   66   220   495   792   924   792   495   220   66   12   1
1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1

In [42]:
print_pascal_triangle(15)

                                          1
                                        1   1
                                      1   2   1
                                    1   3   3   1
                                  1   4   6   4   1
                               1   5   10   10   5   1
                             1   6   15   20   15   6   1
                          1   7   21   35   35   21   7   1
                        1   8   28   56   70   56   28   8   1
                    1   9   36   84   126   126   84   36   9   1
               1   10   45   120   210   252   210   120   45   10   1
            1   11   55   165   330   462   462   330   165   55   11   1
         1   12   66   220   495   792   924   792   495   220   66   12   1
    1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1
1   14   91   364   1001   2002   3003   3432   3003   2002   1001   364   91   14   1

In [43]:
print_pascal_triangle(16)

                                               1
                                             1   1
                                           1   2   1
                                         1   3   3   1
                                       1   4   6   4   1
                                    1   5   10   10   5   1
                                  1   6   15   20   15   6   1
                               1   7   21   35   35   21   7   1
                             1   8   28   56   70   56   28   8   1
                         1   9   36   84   126   126   84   36   9   1
                    1   10   45   120   210   252   210   120   45   10   1
                 1   11   55   165   330   462   462   330   165   55   11   1
              1   12   66   220   495   792   924   792   495   220   66   12   1
         1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1
     1   14   91   364   1001   2002   3003   3432   3003   2002   1001   364   91   14   1
1   15   105   455   1365   3003   5005   6435   6435   5005   3003   1365   455   105   15   1

In [44]:
print_pascal_triangle(17)

                                                    1
                                                  1   1
                                                1   2   1
                                              1   3   3   1
                                            1   4   6   4   1
                                         1   5   10   10   5   1
                                       1   6   15   20   15   6   1
                                    1   7   21   35   35   21   7   1
                                  1   8   28   56   70   56   28   8   1
                              1   9   36   84   126   126   84   36   9   1
                         1   10   45   120   210   252   210   120   45   10   1
                      1   11   55   165   330   462   462   330   165   55   11   1
                   1   12   66   220   495   792   924   792   495   220   66   12   1
              1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1
          1   14   91   364   1001   2002   3003   3432   3003   2002   1001   364   91   14   1
     1   15   105   455   1365   3003   5005   6435   6435   5005   3003   1365   455   105   15   1
1   16   120   560   1820   4368   8008   11440   12870   11440   8008   4368   1820   560   120   16   1

In [45]:
print_pascal_triangle(18)

                                                         1
                                                       1   1
                                                     1   2   1
                                                   1   3   3   1
                                                 1   4   6   4   1
                                              1   5   10   10   5   1
                                            1   6   15   20   15   6   1
                                         1   7   21   35   35   21   7   1
                                       1   8   28   56   70   56   28   8   1
                                   1   9   36   84   126   126   84   36   9   1
                              1   10   45   120   210   252   210   120   45   10   1
                           1   11   55   165   330   462   462   330   165   55   11   1
                        1   12   66   220   495   792   924   792   495   220   66   12   1
                   1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1
               1   14   91   364   1001   2002   3003   3432   3003   2002   1001   364   91   14   1
          1   15   105   455   1365   3003   5005   6435   6435   5005   3003   1365   455   105   15   1
     1   16   120   560   1820   4368   8008   11440   12870   11440   8008   4368   1820   560   120   16   1
1   17   136   680   2380   6188   12376   19448   24310   24310   19448   12376   6188   2380   680   136   17   1

In [46]:
print_pascal_triangle(19)

                                                             1
                                                           1   1
                                                         1   2   1
                                                       1   3   3   1
                                                     1   4   6   4   1
                                                  1   5   10   10   5   1
                                                1   6   15   20   15   6   1
                                             1   7   21   35   35   21   7   1
                                           1   8   28   56   70   56   28   8   1
                                       1   9   36   84   126   126   84   36   9   1
                                  1   10   45   120   210   252   210   120   45   10   1
                               1   11   55   165   330   462   462   330   165   55   11   1
                            1   12   66   220   495   792   924   792   495   220   66   12   1
                       1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1
                   1   14   91   364   1001   2002   3003   3432   3003   2002   1001   364   91   14   1
              1   15   105   455   1365   3003   5005   6435   6435   5005   3003   1365   455   105   15   1
         1   16   120   560   1820   4368   8008   11440   12870   11440   8008   4368   1820   560   120   16   1
    1   17   136   680   2380   6188   12376   19448   24310   24310   19448   12376   6188   2380   680   136   17   1
1   18   153   816   3060   8568   18564   31824   43758   48620   43758   31824   18564   8568   3060   816   153   18   1

In [47]:
print_pascal_triangle(20)

                                                                  1
                                                                1   1
                                                              1   2   1
                                                            1   3   3   1
                                                          1   4   6   4   1
                                                       1   5   10   10   5   1
                                                     1   6   15   20   15   6   1
                                                  1   7   21   35   35   21   7   1
                                                1   8   28   56   70   56   28   8   1
                                            1   9   36   84   126   126   84   36   9   1
                                       1   10   45   120   210   252   210   120   45   10   1
                                    1   11   55   165   330   462   462   330   165   55   11   1
                                 1   12   66   220   495   792   924   792   495   220   66   12   1
                            1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1
                        1   14   91   364   1001   2002   3003   3432   3003   2002   1001   364   91   14   1
                   1   15   105   455   1365   3003   5005   6435   6435   5005   3003   1365   455   105   15   1
              1   16   120   560   1820   4368   8008   11440   12870   11440   8008   4368   1820   560   120   16   1
         1   17   136   680   2380   6188   12376   19448   24310   24310   19448   12376   6188   2380   680   136   17   1
     1   18   153   816   3060   8568   18564   31824   43758   48620   43758   31824   18564   8568   3060   816   153   18   1
1   19   171   969   3876   11628   27132   50388   75582   92378   92378   75582   50388   27132   11628   3876   969   171   19   1